<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
<h2 class="text-center text-3xl font-bold text-gray-700 ">Log In</h2>
  <div class="min-h-screen flex items-center justify-center bg-gradient-to-r ml-6">
    <div class="w-full max-w-xs">
      <!-- Email Field -->
      <div class="mb-4">
        <%= f.label :email, "Email", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :email, placeholder: "john@gmail.com", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
      </div>

      <!-- Password Field -->
      <div class="mb-4">
        <%= f.label :password, "Password", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, placeholder: "******************", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
      </div>

      <!-- Submit Button -->
      <div class="flex items-center justify-between mt-5">
        <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="<%= new_password_path(resource_name) %>">
          Forgot Password?
        </a>
      </div>
    
    </div>
  </div>
<% end %>





 
   